In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('data/p007/Preprocessed_STDataset/gene_data.csv')
df.head()

,LYZ,SLC51B,DEFA5,CD27,RUBCNL,FLT1,AREG,IL1A,COL4A1,PHLDA2,...,CXCR2,NKG7,MCM3,SLC26A2,TIGIT,OLFM4,KLK1,AXIN2,MUC2,tile
0,0.582729,2.230000,3.644298,0.168045,0.190426,2.962099,1.339730,1.747697,0.608136,0.779407,...,-0.327703,-0.222839,-0.373403,-0.316236,-0.300991,-0.211896,-0.290006,-0.237523,-0.276721,p007_0_0.tiff
1,-0.522481,-0.455376,-0.362371,-0.758433,-0.871550,-0.279504,-0.427921,-0.411114,-0.689205,-0.579972,...,-0.327703,-0.222839,-0.373403,-0.316236,-0.300991,-0.211896,-0.290006,-0.237523,-0.276721,p007_2_0.tiff
2,-0.522481,-0.455376,-0.362371,-0.758433,-0.871550,-0.279504,-0.427921,-0.411114,0.608136,-0.579972,...,-0.327703,-0.222839,-0.373403,-0.316236,-0.300991,-0.211896,-0.290006,-0.237523,-0.276721,p007_3_0.tiff
3,-0.522481,-0.455376,-0.362371,-0.758433,-0.871550,-0.279504,-0.427921,-0.411114,-0.689205,0.779407,...,-0.327703,-0.222839,-0.373403,-0.316236,-0.300991,-0.211896,-0.290006,-0.237523,-0.276721,p007_4_0.tiff
4,-0.522481,-0.455376,-0.362371,0.168045,-0.871550,-0.279504,-0.427921,-0.411114,-0.689205,-0.579972,...,-0.327703,-0.222839,-0.373403,-0.316236,-0.300991,-0.211896,-0.290006,-0.237523,-0.276721,p007_5_0.tiff

In [45]:
gene="RUBCNL"
columns_of_interest = ["tile", gene]

In [46]:
print(df.index)
#df.set_index('tile', inplace=True)
print(df.index.name)

RangeIndex(start=0, stop=4047, step=1)
None

In [47]:
print(len(df.columns))
print(df.shape)
#df[["tile"]]
print(df.iloc[0][-1:])

192
(4047, 192)
tile    p007_0_0.tiff
Name: 0, dtype: object

In [48]:
df[["tile"]]

                 tile
0       p007_0_0.tiff
1       p007_2_0.tiff
2       p007_3_0.tiff
3       p007_4_0.tiff
4       p007_5_0.tiff
...               ...
4042  p007_53_95.tiff
4043  p007_54_95.tiff
4044  p007_55_95.tiff
4045  p007_56_95.tiff
4046  p007_57_95.tiff

[4047 rows x 1 columns]

In [11]:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}
df = pd.DataFrame(data)

# Print the entire index
print(df.index)
df.set_index('A', inplace=True)
print(df.index)

RangeIndex(start=0, stop=3, step=1)
Index([1, 2, 3], dtype='int64', name='A')